<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AGV中控显示平台</title>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="/static/js/bootstrap-3.3.7-dist/jquery/jquery.min.js"></script>
		  <!-- 新 Bootstrap4 核心 CSS 文件 -->
		<link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/js/layui/css/layui.css">
		<script src="/static/js/layui/layui.js"></script>
		<script type="text/javascript" src="/static/js/ws.js"></script>
		 <style>
			 button{
				 width: 55px;
				 height: 60px;
				 background-color: #F7F7F7;
			 }
			 .status-right{
				 width: 100px;
				 height: 110px;
			 }
			 .chart{
			 		padding-left:7px;
			 }
			 .but-style{
			 	font-size:27px;
			 }
			 <style>
* {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft YaHei'
}

.info {
	text-align: center;
	margin: 5px 0;
	border: 1px solid #2db7f5;
	background-color: #F1FAFF;
}

ul {
	list-style: none;
	display: inline-block;
	font-size: 15px;
	height: 30px;
	line-height: 30px;
	border-top: 0px;
}

ul li {
	display: block;
	float: left;
	text-align: center;
	padding: 0 10px;
	width: 120px;
}
#left,#right{float:left;}
#right {
	text-align: center;
	margin: 5px 0;
	border: 1px solid #2db7f5;
	background-color: #F1FAFF;
}
/*.th{ background:#F1FADE; font-weight:bold; border-top:1px }*/
</style>
		 </style>
		 <script type="text/javascript" src="/static/js/jquery.easy-pie-chart.js"></script>
		<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
		<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="/static/js/excanvas.js"></script>
	
		
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.easy-pie-chart.css" media="screen">
		<script type="text/javascript">
			/* 初始化饼图服务器资源统计 */
		var initPieChart = function() {
			$('.percentage').easyPieChart({
				animate: 1000
			});
			$('.percentage-light').easyPieChart({
				barColor: function(percent) {
					percent /= 100;
					return "rgb(" + Math.round(255 * (1-percent)) + ", " + Math.round(255 * percent) + ", 0)";
				},
				trackColor: '#666',
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: 15,
				animate: 1000
			});
		
			$('.updateEasyPieChart').on('click', function(e) {
			  e.preventDefault();
			  $('.percentage, .percentage-light').each(function() {
				var newValue = Math.round(100*Math.random());
				$(this).data('easyPieChart').update(newValue);
				$('span', this).text(newValue);
			  });
			});
		};
		</script>
		<!-- 禁止图片拖拽 -->
		<script language="javascript">  
			function imgdragstart(){return false;}  
		</script> 
	</head>
	<body onLoad="initPieChart();form_query(1);">
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<p class="text-success lead text-center">
				 <strong>AGV中控显示平台</strong>
			</p>
		</div>
	</div>
	<div class="row clearfix" style="background-color: #D0E9C6;">
		<div class="col-md-3 column">
			<table class="table">
				<tbody>
					<tr>
						<td colspan="4" class="text-success lead text-center">
							异常警报
						</td>
					</tr>
					<tr>
						<td>
							<button class="but-style" id="button1">1</button>
						</td>
						<td>
							<button class="but-style" id="button2">2</button>
						</td>
						<td>
							<button class="but-style" id="button3">3</button>
						</td>
						<td>
							<button class="but-style" id="button4">4</button>
						</td>
					</tr>
					<tr>
						<td>
							<button class="but-style" id="button5">5</button>
						</td>
						<td>
							<button class="but-style" id="button6">6</button>
						</td>
						<td>
							<button class="but-style" id="button7">7</button>
						</td>
						<td>
							<button class="but-style" id="button8">8</button>
						</td>
					
					</tr>
					<tr>
						<td>
							<button  class="but-style" id="button9">9</button>
						</td>
						<td>
							<button  class="but-style" id="button10">10</button>
						</td>
						<td>
							<button  class="but-style" id="button11">11</button>
						</td>
						<td>
							<button  class="but-style" id="button12">12</button>
						</td>
					</tr>
					<tr>
						<td>
							<button  class="but-style" id="button13">13</button>
						</td>
						<td>
							<button class="but-style"  id="button14">14</button>
						</td>
						<td>
							<button  class="but-style" id="button15">15</button>
						</td>
						<td>
							<button  class="but-style" id="button16">16</button>
						</td>
					</tr>
					<tr>
						<td>
							<button  class="but-style" id="button17">17</button>
						</td>
						<td>
							<button  class="but-style" id="button18">18</button>
						</td>
						<td>
							<button  class="but-style" id="button19">19</button>
						</td>
						<td>
							<button  class="but-style" id="button20">20</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-5 column">
			<table class="table">
				<tbody>
					<tr>
						<td class="text-success lead text-center">
							异常警报
						</td>
					</tr>
					<tr>
						<td>
							<div style="background-color: #ffffff;width: 460px;height: 368px;">
								<img src="/static/img/agv.png" style="width: 460px;height: 368px;" />
								
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class="col-md-3 column">
			<table class="table">
				<tbody>
					<tr>
						<td colspan="3" class="text-success lead text-center">
							车辆状态显示
						</td>
					</tr>
					<tr>
						<td>
							<button class="status-right">
								<div class="chart" id="nengyan">
									
								</div>
								能源
							</button>
						</td>
						<td>
							<button class="status-right">
								<div class="chart">
									<div class="percentage-light" data-percent="20"><span>20</span>kg</div>
								</div>
								空满载
							</button>
						</td>
						<td>
							<button class="status-right" onclick="statistical()">
								<img src="/static/img/statistical.png" style="width: 80px;height: 80px;" />
								统计
							</button>
						</td>
					</tr>
					<tr>
						<td>
							<button class="status-right">
								<img src="/static/img/light_true.png" style="width: 80x;height: 80px;" />
								库位闪灯
							</button>
						</td>
						<td>
							<button class="status-right">
								<div class="chart" id="speed">
									
								</div>
								行驶效率
							</button>
						</td>
						<td>
							<button class="status-right" onclick="storage()">
								<img src="/static/img/ku.png" style="width: 80x;height: 80px;" />
								库位详情
							</button>
						</td>
					</tr>
					<tr>
						<td>
							<button class="status-right">
								<div class="chart">
									<div class="percentage-light" data-percent="1">剩余<span>1</span>天</div>
								</div>
								保养提示
							</button>
						</td>
						<td>
							<button class="status-right" onclick="sendEmail()">
								<img src="/static/img/email.png" style="width: 80px;height: 80px;" />
								在线报障
							</button>
						</td>
						<td>
							<button class="status-right">
								<img src="/static/img/map.png" style="width: 80px;height: 80px;" />
								地表编号图
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-12 column">
			<iframe name="iframe" width=100% height=300 marginwidth=0 marginheight=0 src="/plan/show" ></iframe>
		</div>
	</div>
</div>
	<!-- 禁止图片拖拽 -->
	<script language="javascript">  
	for(i in document.images)document.images[i].ondragstart=imgdragstart;  
	</script>
	<script>
		function statistical(){
			window.open('/statistical', '', 'height=620, width=1024, top=50, left=180, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
		}
		function storage(){
			//window.open('/findStatus', '', 'height=530, width=1053, top=130, left=160, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
			window.open('/findStatus');
		}
		function main(id,carId){
			window.open('/product?id='+id+'&carId='+carId, '', 'height=372, width=735, top=222, left=336, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
			//window.parent.open
		}
		function sendEmail(){
			window.open('/email', '', 'height=320, width=500, top=186, left=430, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
		}
	</script>
	<script type="text/javascript">
	$(function() {
		ws.onmessage = function(msg) {
			console.log("接收msg："+msg.data);
			var info = msg.data;
			var bu_Id="#button"+info;
			var ex = /^\d+$/;
			console.log(ex.test(info)+"|"+info+" | "+info[0]+" | "+bu_Id);
			if (ex.test(info)) {//异常显示
				$(bu_Id).css('background','red');
			}else{
				var bu_nId="#butto"+info;
				$(bu_nId).css('background','#F7F7F7');
				$(bu_nId).css('font-color','#000');
			}
		}
		//关闭WebSocket连接
		function closeWebSocket() {
			ws.close();
		}
		ws.connect("/localhost:8080/websocket");// 后台接口地址
	})
	</script>
	<script>
	function form_query(carid)
	{
      $.ajax({
                type: "POST",//方法类型 
                dataType: "json",//预期服务器返回的数据类型
                url: "/carinfo" ,//url
                data: {id:carid},
                success: function (result) {
                	 $("#nengyan").html("");
                	 $("#speed").html("");
                	//能源
                    $("#nengyan").append('<div class="percentage-light" data-percent="'+result.mapCar.electric+'"><span>'+result.mapCar.electric+'</span>%</div>');
                    $("#speed").append('<div class="percentage-light" data-percent="'+result.mapCar.speed+'"><span>'+result.mapCar.speed+'</span>m/min</div>');
                	initPieChart();
                },
                error : function(error) {
                   console.log("响应服务器错误");
                }
            });
	}
	
	document.onkeydown = function(e) {
        e = window.event || e;
        var k = e.keyCode;
        //屏蔽ctrl+R，F5键，ctrl+F5键  F3键！验证
        if ((e.ctrlKey == true && k == 82) || (k == 116)
                || (e.ctrlKey == true && k == 116)||k==114) {
            e.keyCode = 0;
            alert("当前页面不能刷新！");
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
 
        }
        if (k == 8) {
            alert("不能返回或后退！");
            e.keyCode = 0;
            e.returnValue = false;
            return false;
        }
        //屏蔽 Ctrl+n   验证可以实现效果
        if (e.ctrlKey && k == 78){
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
            }
        //屏蔽F11   验证可以实现效果
        if (k == 122) {
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
        //屏蔽 shift+F10  验证可以实现效果      
        if ((e.shiftKey && k == 121)||(e.ctrlKey && k == 121)){
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
            }
 
        //屏蔽Alt+F4  
        if ((e.altKey) && (k== 115)) {
            window.showModelessDialog("about:blank", "",
                    "dialogWidth:1px;dialogheight:1px");
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
        //屏蔽 Alt+ 方向键 ← ;屏蔽 Alt+ 方向键 → ！验证
        if ((e.altKey)
                && ((k == 37) || (k == 39))) {
            alert("不准你使用ALT+方向键前进或后退网页！");
            e.keyCode = 0;
            e.returnValue = false;
            e.cancelBubble = true;
            return false;
        }
 
    };
    
    //屏蔽右键菜单，！验证
    document.oncontextmenu = function(event) {
        if (window.event) {
            event = window.event;
        }
        try {
            var the = event.srcElement;
            if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
                return false;
            }
            return true;
        } catch (e) {
            return false;
        }
    };
	</script>
	<script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/left_info.js"></script>
	</body>
</html>
	
