<!DOCTYPE html>
<html lang="zh">

<head>
    <title>欢迎登录AGV中控显示平台</title>
    <!-- Meta-Tags -->
    <meta name="viewport">
    <meta charset="utf-8">
    <meta name="keywords">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/login/css/font-awesome.css" type="text/css" media="all">
    <script src="/static/js/bootstrap-3.3.7-dist/jquery/jquery.min.js"></script>
</head>

<body>
    <div class="content-w3ls" style="text-align: center;position: relative;top: 300px;transform:translateY(-50%);">
        <div class="agileits-grid">
                	<h2  style="color: red">请输入您的密码</h2>
            <div class="content-bottom">
                    <div class="field_w3ls">
                        <div class="field-group">
                           		 <input name="password" id="password" type="password" value="" placeholder="请输入密码" required >
                        </div>
                    </div>
                    <div class="field_w3ls">
                        <div class="field-group">
                            	 <input name="password" id="password-field" type="password" value="" placeholder="请输入确认密码" required >
                        </div>
                    </div>
                     <div class="wthree-field">
                        <input id="send" onclick="updatePassword()" type="submit" value="提交修改" />
                    </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center" style="text-align: center;position: relative;top: 300px;transform:translateY(-50%);">
        <p>© 2019 AGV Automation. All rights reserved | Design by
            <a href="http://http://www.lechange-systems.com/">lechange-systems</a>
        </p>
    </div>
</body>
<script type="text/javascript">
	function updatePassword(){
		var pass1=$('#password').val();
		var pass2=$('#password-field').val();
		if(pass1==null||pass1==""){
			alert("请输入密码！")
		}else{
			if(pass2==null||pass2==""){
				alert("请确认密码！");
			}else{
				if(pass1==pass2){
					$.ajax({
			             type: "POST",//方法类型 
			             dataType: "json",//预期服务器返回的数据类型
			             url: "/restartPassword" ,//url
			             data: {password:pass1},
			             success: function (result) {
			            	alert("修改密码成功！请妥善保存");
			            	window.location.href="/";
			             },
			             error : function(error) {
			                console.log("响应服务器错误");
			             }
			         });
				}else{
					alert("两次密码输入不一致！");
					return false;
				}
			}
		}
	}
</script>
</html>